.container {
    width: 100%;
    margin: 0 auto;
    padding: 90px 10px;
}

.title,
.subtitle {
    text-align: center;
}

.title {
    font-size: 30px;
    margin-bottom: 20px;
}

.subtitle {
    font-size: 20px;
    margin-bottom: 75px;
}

.list {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    list-style: none;
}

.item {
    padding-left: 15px;
    margin-bottom: 30px;
}

.day {
    font-size: 20px;
    margin-bottom: 16px;
}

.step {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.84);
    margin-bottom: 10px;
}

@media screen and (min-width: 641px) {
    .container {
        width: 100%;
        padding: 90px 30px;
    }

    .title {
        font-size: 38px;
        margin-bottom: 40px;
    }

    .subtitle {
        font-size: 22px;
        margin-bottom: 36px;
    }

    .item {
        margin-bottom: 36px;
    }

    .day {
        font-size: 22px;
    }

    .step {
        font-size: 18px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 640px;
    }
}