.element {
    width: 100%;
    background-color: #e8000f;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 90px 30px;
    display: block;
    background-color: #e8000f;
}

.adress {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 40px;
}

.contact {
    font-size: 16px;
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
}

.email {
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    font-size: 16px;
}

.desc {
    font-size: 16px;
    color: #ffffff;
}

@media screen and (min-width: 641px) {
    .container {
        width: 100%;
        padding: 90px 30px;
    }

    .adress {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .contact {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .email {
        font-size: 18px;
        margin-bottom: 50px;
    }

    .desc {
        font-size: 18px;
        margin-bottom: 50px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 640px;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        margin: 0 auto;
        width: 94%;
        text-align: center;
    }
}